body {
    /*
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5; /* line-height is the amount of space between each line*/
    
    /* Shortcut */
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global -> It can be put anywhere */
.container {
    width: 80%; /* After one point content will go to next line. So, everything will end in a line */
    margin: auto; /* Puts everything in center */
    overflow: hidded; /* If something goes outside of div class it will hide it */
}

ul {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background: #35424a; 
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px; /* The min-height property defines the minimum height of an element. If the content is smaller than the minimum height, the minimum height will be applied. If the content is larger than the minimum height, the min-height property has no effect. */
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none; /* Removes underline from links which is by default */
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    display: inline;
    padding: 0 20px 0 20px; /* Up Right Down Left */
}

header #branding {
    float: left; /* Where it will be positioned on the webpage */
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* Showcase */
#showcase {
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -400px; /* 0 moves the image in x-axis, and -400px moves the image in y-axis(upward)*/
    text-align: center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}